body,
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  @media screen and (max-width: 1399px) {
    .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%;
      .draws-and-person-frames {
        display: flex;
        justify-content: space-around;
        .personal-frame {
          background-color: red;
          border: rgb(11, 11, 11) solid 1px;
          min-height: 400px;
          width: 30%;
          padding-bottom: 40%;
          border-radius: 10%;
        }
      }
      .projects-frame {
        border: rgb(209, 25, 25) solid 1px;
        display: flex;
        flex-direction: column;
        h3 {
          margin: auto;
        }
        .project {
          border: solid 1px blue;
          margin: 13%;
          .project-picture {
            height: 100%;
            width: 100%;
            opacity: 0;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%;
      .draws-and-person-frames {
        display: flex;
        justify-content: space-around;
        .personal-frame {
          background-color: red;
          border: rgb(11, 11, 11) solid 1px;
          min-height: 200px;
          width: 30%;
          padding-bottom: 40%;
          border-radius: 10%;
        }
      }
      .projects-frame {
        border: rgb(209, 25, 25) solid 1px;
        display: flex;
        flex-direction: column;
        h3 {
          margin: auto;
        }
        .project {
          border: solid 1px blue;
          margin: 13%;
          .project-picture {
            height: 100%;
            width: 100%;
            opacity: 0;
          }
        }
      }
    }
  }
}
.project-picture-animation {
  animation-name: slide-in;
  animation-duration: 4500ms;
  animation-fill-mode: forwards;
  // animation-timing-function: cubic-bezier(1, 0.42, 0.26, 0.92);
}
@keyframes slide-in {
  0% {
    opacity: 0;
  }
  1% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.personal-frame-fade-out {
  animation-name: fade-out;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.personal-frame-fade-in {
  animation-name: fade-in;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
