@import "./utils/variables";
@import "./utils/mixins";
@import "./base/reset-css";
@import "./layout/draws-and-person-frames";
@import "./layout/background-color";
@import "./layout/projects-frame";
@media screen and (min-width: 900px) and (max-width: 1400px) {
  .projects-frame {
    border-radius: 27px;
    .project {
      max-height: 65vh;
      .project-figcaption {
        height: 8vh;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .projects-frame {
    border-radius: 43px;
    .project {
      max-height: 80vh;
      .project-figcaption {
        height: 10vh;
      }
    }
  }
}
.project-figcaption-animation {
  animation-name: rotate-title;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes rotate-title {
  0% {
    opacity: 0;
    transform: rotate3d(2, 0, -1, -0.4turn);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: rotate3d(0, 0, 0, -0turn);
    opacity: 1;
  }
}

.project-picture-animation {
  animation-name: slide-in;
  animation-delay: 600ms;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.16, 0.79, 0, 1.03);
}
@keyframes slide-in {
  0% {
    opacity: 0;
  }
  1% {
    transform: translate(100%, 0);
    opacity: 0.1;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes personal-frame-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes personal-frame-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
