body,
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0; }
  @media screen and (max-width: 1399px) {
    body .background,
    html .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%; }
      body .background .draws-and-person-frames,
      html .background .draws-and-person-frames {
        display: flex;
        justify-content: space-around; }
        body .background .draws-and-person-frames .personal-frame,
        html .background .draws-and-person-frames .personal-frame {
          background-color: red;
          border: #0b0b0b solid 1px;
          min-height: 400px;
          width: 30%;
          padding-bottom: 40%;
          border-radius: 10%; }
      body .background .projects-frame,
      html .background .projects-frame {
        border: #d11919 solid 1px;
        display: flex;
        flex-direction: column; }
        body .background .projects-frame h3,
        html .background .projects-frame h3 {
          margin: auto; }
        body .background .projects-frame .project,
        html .background .projects-frame .project {
          border: solid 1px blue;
          margin: 13%; }
          body .background .projects-frame .project .project-picture,
          html .background .projects-frame .project .project-picture {
            height: 100%;
            width: 100%;
            opacity: 0; } }
  @media screen and (min-width: 1400px) {
    body .background,
    html .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%; }
      body .background .draws-and-person-frames,
      html .background .draws-and-person-frames {
        display: flex;
        justify-content: space-around; }
        body .background .draws-and-person-frames .personal-frame,
        html .background .draws-and-person-frames .personal-frame {
          background-color: red;
          border: #0b0b0b solid 1px;
          min-height: 200px;
          width: 30%;
          padding-bottom: 40%;
          border-radius: 10%; }
      body .background .projects-frame,
      html .background .projects-frame {
        border: #d11919 solid 1px;
        display: flex;
        flex-direction: column; }
        body .background .projects-frame h3,
        html .background .projects-frame h3 {
          margin: auto; }
        body .background .projects-frame .project,
        html .background .projects-frame .project {
          border: solid 1px blue;
          margin: 13%; }
          body .background .projects-frame .project .project-picture,
          html .background .projects-frame .project .project-picture {
            height: 100%;
            width: 100%;
            opacity: 0; } }

.project-picture-animation {
  animation-name: slide-in;
  animation-duration: 4500ms;
  animation-fill-mode: forwards; }

@keyframes slide-in {
  0% {
    opacity: 0; }
  1% {
    transform: translate(100%, 0);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }
.personal-frame-fade-out {
  animation-name: fade-out;
  animation-duration: 750ms;
  animation-fill-mode: forwards; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.personal-frame-fade-in {
  animation-name: fade-in;
  animation-duration: 1500ms;
  animation-fill-mode: forwards; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=portfolio.css.map */
