body,
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0; }
  @media screen and (min-width: 900px) and (max-width: 1399px) {
    body .background,
    html .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%; }
      body .background .draws-and-person-frames,
      html .background .draws-and-person-frames {
        display: flex;
        justify-content: space-around; }
        body .background .draws-and-person-frames .personal-frame,
        html .background .draws-and-person-frames .personal-frame {
          background-color: red;
          border: #0b0b0b solid 1px;
          height: 25vh;
          width: 70%;
          padding-bottom: 40%;
          border-radius: 10%; }
      body .background .projects-frame,
      html .background .projects-frame {
        border: #d11919 solid 1px;
        margin-top: 5%;
        display: flex;
        flex-direction: column; }
      body .background .project,
      html .background .project {
        border: solid 1px blue;
        margin: 8%;
        max-height: 50%; }
        body .background .project figcaption,
        html .background .project figcaption {
          border: red solid 1px;
          margin-bottom: 22px;
          background: #84da04;
          height: 8vh; }
          body .background .project figcaption:hover,
          html .background .project figcaption:hover {
            transform: rotate3d(2, -1, -0.7, -0.2turn); }
        body .background .project .project-picture,
        html .background .project .project-picture {
          height: 100%;
          width: 100%;
          opacity: 0; } }

@media screen and (min-width: 1400px) {
  .background {
    background: rgba(219, 184, 180, 0.4);
    padding: 3%; }
    .background .draws-and-person-frames {
      display: flex;
      justify-content: space-around; }
      .background .draws-and-person-frames .personal-frame {
        background-color: red;
        border: #0b0b0b solid 1px;
        width: 70%;
        padding-bottom: 50%;
        margin-bottom: 10%;
        border-radius: 10%; }
    .background .projects-frame {
      border: #d11919 solid 1px;
      display: flex;
      flex-direction: column; }
      .background .projects-frame h3 {
        margin: auto; }
      .background .projects-frame .project {
        border: solid 1px blue;
        margin: 7% 17%; }
        .background .projects-frame .project .project-picture {
          width: 100%;
          margin: 0;
          opacity: 0; } }
.personal-frame-fade-out {
  animation-name: fade-out;
  animation-duration: 1000ms;
  animation-fill-mode: forwards; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.personal-frame-fade-in {
  animation-name: fade-in;
  animation-duration: 2500ms;
  animation-fill-mode: forwards; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.project-picture-animation {
  animation-name: slide-in;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.16, 0.79, 0, 1.03); }

@keyframes slide-in {
  0% {
    opacity: 0; }
  1% {
    transform: translate(100%, 0);
    opacity: 0; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  30% {
    opacity: 0.6; }
  40% {
    opacity: 0.8; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

/*# sourceMappingURL=portfolio.css.map */
