body,
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0; }
  @media screen and (min-width: 900px) and (max-width: 1399px) {
    body .background,
    html .background {
      background: #060e20;
      padding: 3%; }
      body .background .draws-and-person-frames,
      html .background .draws-and-person-frames {
        display: flex;
        justify-content: space-around; }
        body .background .draws-and-person-frames .personal-frame,
        html .background .draws-and-person-frames .personal-frame {
          background-color: #20060E;
          border: #0b0b0b solid 1px;
          height: 55vh;
          width: 50vw;
          padding-bottom: 40%;
          border-radius: 10%; }
        body .background .draws-and-person-frames .personal-frame-fade-out,
        html .background .draws-and-person-frames .personal-frame-fade-out {
          animation-name: fade-out;
          animation-duration: 1000ms;
          animation-fill-mode: forwards; }
        body .background .draws-and-person-frames .personal-frame-fade-in,
        html .background .draws-and-person-frames .personal-frame-fade-in {
          animation-name: fade-in;
          animation-duration: 2500ms;
          animation-fill-mode: forwards; }
      body .background .projects-frame,
      html .background .projects-frame {
        background: #062018;
        border: #d11919 solid 1px;
        margin-top: 5%;
        display: flex;
        flex-direction: column; }
        body .background .projects-frame .project,
        html .background .projects-frame .project {
          background: #20060E;
          border: solid 1px blue;
          margin: 8%;
          height: 70vh; }
          body .background .projects-frame .project .figcaption-project,
          html .background .projects-frame .project .figcaption-project {
            position: relative;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            border: red solid 1px;
            margin-bottom: 22px;
            background: #84da04;
            height: 8vh;
            opacity: 0;
            z-index: 2; }
          body .background .projects-frame .project .project-picture,
          html .background .projects-frame .project .project-picture {
            position: relative;
            width: 100%;
            opacity: 0;
            z-index: 1; } }
  @media screen and (min-width: 1400px) {
    body .background,
    html .background {
      background: rgba(219, 184, 180, 0.4);
      padding: 3%; }
      body .background .draws-and-person-frames,
      html .background .draws-and-person-frames {
        display: flex;
        justify-content: space-around; }
        body .background .draws-and-person-frames .personal-frame,
        html .background .draws-and-person-frames .personal-frame {
          background-color: #20060E;
          border: #0b0b0b solid 1px;
          width: 50vh;
          padding-bottom: 50%;
          margin-bottom: 10%;
          border-radius: 10%; }
        body .background .draws-and-person-frames .personal-frame-fade-out,
        html .background .draws-and-person-frames .personal-frame-fade-out {
          animation-name: fade-out;
          animation-duration: 1000ms;
          animation-fill-mode: forwards; }
        body .background .draws-and-person-frames .personal-frame-fade-in,
        html .background .draws-and-person-frames .personal-frame-fade-in {
          animation-name: fade-in;
          animation-duration: 2500ms;
          animation-fill-mode: forwards; }
      body .background .projects-frame,
      html .background .projects-frame {
        background: #062018;
        border: #d11919 solid 1px;
        display: flex;
        flex-direction: column; }
        body .background .projects-frame .project,
        html .background .projects-frame .project {
          background: #20060E;
          scroll-snap-align: center;
          border: solid 1px blue;
          margin: 7% 17%; }
          body .background .projects-frame .project .figcaption-project,
          html .background .projects-frame .project .figcaption-project {
            position: relative;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            border: red solid 1px;
            margin-bottom: 22px;
            background: #84da04;
            height: 8vh;
            opacity: 0;
            z-index: 2; }
          body .background .projects-frame .project .project-picture,
          html .background .projects-frame .project .project-picture {
            position: relative;
            width: 100%;
            opacity: 0;
            z-index: 1; } }
  body .figcaption-project-animation,
  html .figcaption-project-animation {
    animation-name: rotate-title;
    animation-duration: 1500ms;
    animation-fill-mode: forwards; }
@keyframes rotate-title {
  0% {
    opacity: 0;
    transform: rotate3d(2, -1, -1, -0.2turn); }
  1% {
    opacity: 1; }
  100% {
    transform: rotate3d(0, 0, 0, 0turn);
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  body .project-picture-animation,
  html .project-picture-animation {
    animation-name: slide-in;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.16, 0.79, 0, 1.03); }
@keyframes slide-in {
  0% {
    opacity: 0; }
  1% {
    transform: translate(100%, 0);
    opacity: 0; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  30% {
    opacity: 0.6; }
  40% {
    opacity: 0.8; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

/*# sourceMappingURL=portfolio.css.map */
