body,
html {
  $background: linear-gradient(74deg, red, red, lime, blue, blue);
  $personal-frame-bg: linear-gradient(-45deg, black, white);
  $project-frame-bg: linear-gradient(
    74deg,
    transparent,
    transparent,
    white,
    transparent
  );
  $project-bg: purple;
  $figcaption-project-bg: yellow;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
  height: 100%;
  margin: 0;

  @media screen and (min-width: 900px) and (max-width: 1399px) {
    .background {
      background: $background;
      padding: 3%;
      .draws-and-person-frames {
        display: flex;
        justify-content: space-around;
        height: 100vh;
        .draws-frame {
          font-size: 2em;
          color: red;
        }
        .personal-frame {
          background: $personal-frame-bg;
          width: 70%;
          height: 90%;
          border-radius: 10%;
          font-size: 2em;
          text-align: center;
          color: red;
        }
        .personal-frame-fade-out {
          animation-name: fade-out;
          animation-duration: 1000ms;
          animation-fill-mode: forwards;
        }
        .personal-frame-fade-in {
          animation-name: fade-in;
          animation-duration: 2500ms;
          animation-fill-mode: forwards;
        }
      }
      .projects-frame {
        background: $project-frame-bg;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 27px;
        .project {
          background: $project-bg;
          scroll-snap-align: center;
          box-shadow: 1.2em 3em 2em rgba(128, 128, 128, 0.614);
          border-radius: 5%;
          margin: 8%;
          text-align: center;
          color: rgb(238, 5, 5);
          .figcaption-project {
            position: relative;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 22px;
            background: $figcaption-project-bg;
            height: 8vh;
            opacity: 0;
            z-index: 2;
          }
          .project-picture {
            position: relative;
            width: 100%;
            opacity: 0;
            z-index: 1;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .background {
      background: $background;
      padding: 3vw;
      .draws-and-person-frames {
        display: flex;
        justify-content: space-around;
        height: 100vh;
        .draws-frame {
          font-size: 2em;
          color: red;
        }
        .personal-frame {
          background: $personal-frame-bg;
          width: 70%;
          height: 90%;
          border-radius: 10%;
          margin-bottom: 10%;
          text-align: center;
          color: red;
          font-size: 2em;
        }
        .personal-frame-fade-out {
          animation-name: fade-out;
          animation-duration: 1000ms;
          animation-fill-mode: forwards;
        }
        .personal-frame-fade-in {
          animation-name: fade-in;
          animation-duration: 2500ms;
          animation-fill-mode: forwards;
        }
      }
      .projects-frame {
        background: $project-frame-bg;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 43px;

        .project {
          background: $project-bg;
          box-shadow: 1.2em 3em 2em rgba(128, 128, 128, 0.614);
          border-radius: 5%;
          text-align: center;
          color: red;
          margin: 7% 17%;
          .figcaption-project {
            position: relative;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 22px;
            background: $figcaption-project-bg;
            height: 8vh;
            opacity: 0;
            z-index: 2;
          }
          .project-picture {
            position: relative;
            width: 100%;
            opacity: 0;
            z-index: 1;
          }
        }
      }
    }
  }
  .figcaption-project-animation {
    animation-name: rotate-title;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    //animation-timing-function: cubic-bezier(0.16, 0.79, 0, 1.03);
  }
  @keyframes rotate-title {
    0% {
      opacity: 0;
      transform: rotate3d(2, -1, -1, -0.2turn);
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: rotate3d(0, 0, 0, -0turn);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .project-picture-animation {
    animation-name: slide-in;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.16, 0.79, 0, 1.03);
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
    }
    1% {
      transform: translate(100%, 0);
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }
    20% {
      opacity: 0.4;
    }
    30% {
      opacity: 0.6;
    }
    40% {
      opacity: 0.8;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
