$background: linear-gradient(68deg, red, lime, blue, red);
$personal-frame-bg: linear-gradient(-45deg, black, white);
$project-frame-bg: linear-gradient(
  68deg,
  transparent,
  transparent,
  transparent,
  white,
  transparent,
  transparent
);
$project-bg: #cb872e;
$project-figcaption-bg: #008080;
